<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav class="red darken-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo"><i class="material-icons">verified_user</i>Yalla Notlob</a>
    <ul class="right hide-on-small-and-down">
      <li class=" waves-effect waves-light"><a href="#"><i class="material-icons">account_circle</i></a></li>
      <li class=" waves-effect waves-light"><a href="#"><i class="material-icons">home</i></a></li>
      <li class=" waves-effect waves-light"><a href="#"><i class="material-icons">input</i></a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1" materialize="dropdown" [materializeParams]="[{belowOrigin: true}]"><span class="" data-badge-caption="">0</span></a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li>
        <div class="userView">
          <div class="background">
            <img src="" class="responsive-img">
          </div>
          <a href="#!user"><img class="circle" src=""></a>
          <a href="#!name"><span class="white-text name">Username</span></a>
          <a href="#!email"><span class="white-text email">Example@email.com</span></a>
        </div>
      </li>
      <li><a href="#!" class="waves-effect"><i class="material-icons red-text">home</i>Home</a></li>
      <li><a href="#!" class="waves-effect"><i class="material-icons red-text">account_circle</i>Account</a></li>
      <li><a href="#!" class="waves-effect"><i class="material-icons red-text">settings</i>Settings</a></li>
      <li><a href="#!" class="waves-effect"><i class="material-icons red-text">input</i>Logout</a></li>
    </ul>
    <a href="#" materialize="sideNav" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
