<app-navbar></app-navbar>
<div class="row" style="height: 460px">
  <div class="col s12 center-align">
    <h4>My Orders <a class="btn-floating waves-effect red modal-trigger" [routerLink]="['/addorder']"><i class="material-icons">add</i></a></h4>
  </div>
  <div class="col s12 fit-height">
    <div class="card fit-height">
      <table>
        <thead>
        <tr>
          <th>Order</th>
          <th>Meal</th>
          <th>User</th>
          <th>Restaurant</th>
          <th>Invited</th>
          <th>Joined</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let order of orders.owned">
          <td>{{order.name}}</td>
          <td>{{order.for}}</td>
          <td>{{getFriendName(order.owner)}}</td>
          <td>{{order.provider?.name}}</td>
          <td>{{order.invited.length}}</td>
          <td>{{order.joined.length}}</td>
          <td>
            <a class="waves-effect red-text" (click)="deleteOrder(order._id)" materialize="tooltip" class="tooltipped" data-tooltip="Delete Order" ><i class="material-icons">delete</i></a>
            <a class="waves-effect red-text" [routerLink]="['/vieworder/',order._id]" materialize="tooltip" class="tooltipped" data-tooltip="View Order"><i class="material-icons">remove_red_eye</i></a>
          </td>
        </tr>
        <tr *ngFor="let order of orders.joined">
          <td>{{order.name}}</td>
          <td>{{order.for}}</td>
          <td>{{getFriendName(order.owner)}}</td>
          <td>{{order.provider?.name}}</td>
          <td>{{order.invited.length}}</td>
          <td>{{order.joined.length}}</td>
          <td>
            <a class="waves-effect red-text" (click)="leaveOrder(order._id)" materialize="tooltip" class="tooltipped" data-tooltip="Leave Order" ><i class="material-icons">exit_to_app</i></a>
            <a class="waves-effect red-text" [routerLink]="['/vieworder',order._id]" materialize="tooltip" class="tooltipped" data-tooltip="View Order"><i class="material-icons" >remove_red_eye</i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
<app-modal #msgModal [data]='response' ></app-modal>
