<app-navbar></app-navbar>
<div class="row" style="height: 460px">
  <div class="col s12 center-align">
    <h4>My Orders</h4>
  </div>
  <div class="col s12 fit-height">
    <div class="card fit-height">
      <table>
        <thead>
        <tr>
          <th>Order</th>
          <th>Meal</th>
          <th>User</th>
          <th>Restaurant</th>
          <th>Invited</th>
          <th>Joined</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Note</td>
          <td>Breakfast</td>
          <td>Ehab</td>
          <td>KFC</td>
          <td>5</td>
          <td>7</td>
          <td>
            <a class="waves-effect green-text"><i class="material-icons">check</i></a>
            <a class="waves-effect red-text"><i class="material-icons">close</i></a>
          </td>
        </tr>
        <tr *ngFor="let order of orders.owned">
          <td>{{order.name}}</td>
          <td>{{order.for}}</td>
          <td>{{getFriendName(order.owner)}}</td>
          <td>{{order.provider.name}}</td>
          <td>{{order.invited.length}}</td>
          <td>{{order.joined.length}}</td>
          <td>
            <a class="waves-effect green-text"><i class="material-icons">check</i></a>
            <a class="waves-effect red-text"><i class="material-icons">close</i></a>
            <a class="waves-effect red-text" [routerLink]="['/vieworder/',order._id]"><i class="material-icons">info</i></a>
          </td>
        </tr>
        <tr *ngFor="let order of orders.invited">
          <td>{{order.name}}</td>
          <td>{{order.for}}</td>
          <td>{{getFriendName(order.owner)}}</td>
          <td>{{order.provider.name}}</td>
          <td>{{order.invited.length}}</td>
          <td>{{order.joined.length}}</td>
          <td>
            <a class="waves-effect green-text"><i class="material-icons">check</i></a>
            <a class="waves-effect red-text"><i class="material-icons">close</i></a>
            <a class="waves-effect red-text" [routerLink]="['/vieworder']"><i class="material-icons">info</i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
