<!--<app-header></app-header>-->
<app-navbar></app-navbar>

<!--<nav class="ban">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li>Orders</li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <!--<li><a [routerLink]="['/addorder']" >Start New Order</a></li>
       <li><a class="waves-effect waves-light btn-large" [routerLink]="['/addorder']">Start New Order</a></li>
  </div>
</nav>-->

<div>
   <h3 id="le"> Orders </h3>
   <a id="ri" class="waves-effect btn-large red darken-1" [routerLink]="['/addorder']">Start New Order</a>
</div>

<div class="main" >
      <table>
        <thead>
          <tr>
              <th>Order</th>
              <th>Resturants</th>
              <th>Invited</th>
              <th>Joined</th>
              <th>Status</th>
              <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{order.for}}</td>
            <!--<td>{{order.provider}}</td>
            <td>{{order.invited}}</td>
            <td>{{order.joined}}</td>
            <td>{{order.checkout}}</td>-->
            <!--<td>
              <a class="waves-effect waves-teal btn-flat" [routerLink]="['/vieworder']" >View</a>
               <a class="waves-effect waves-teal btn-flat" id={{order.id}} (click)="finishOrder($event)" type="submit">Finish</a>
                <a class="waves-effect waves-teal btn-flat" id={{order.id}} (click)="cancelOrder($event)" type="submit">Cancel</a>
            </td>-->
          </tr>
        </tbody>
      </table>
</div>
<div class="pag">
  <ul class="pagination">
    <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#">1</a></li>
    <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
  </ul>
</div>
