<ul id="dropdown1" class="dropdown-content collection">
  <li *ngFor="let notification of notifications;let i = index;" class="collection-item avatar" (click)="seeNotification(notification._id,i)">
    <i class="material-icons circle">group</i>
    <span class="title">{{notification.message}}</span>
    <a class="notify-btn-top no-padding" *ngIf="notification.type=='checkout'" (click)="checkoutNotification(notification.details)"><i class="material-icons no-margin">remove_red_eye</i></a>
    <a class="notify-btn-top no-padding" *ngIf="notification.type=='invitation'" (click)="acceptInvitation(notification,i)"><i class="material-icons no-margin">check</i></a>
    <a class="notify-btn-bottom no-padding" *ngIf="notification.type=='invitation'" (click)="refuseInvitation(notification,i)"><i class="material-icons no-margin">close</i></a>
  </li>
  <!--<li class="collection-item notify-with-btns">-->
    <!--<span class="title">Testing notification button</span>-->
    <!--<a class="notify-btn-top no-padding" (click)="openChekOutModal()"><i class="material-icons no-margin">check</i></a>-->
    <!--<a class="notify-btn-bottom no-padding"><i class="material-icons no-margin">close</i></a>-->
  <!--</li>-->
</ul>
<nav class="red darken-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" [routerLink]="['/home']" class="brand-logo"><i class="material-icons">verified_user</i>Yalla Notlob</a>
    <ul class="right hide-on-small-and-down">
      <li class=" waves-effect waves-light"><a [routerLink]="['/home']" materialize="tooltip" class="tooltipped" data-tooltip="Home"><i class="material-icons">home</i></a></li>
      <li class=" waves-effect waves-light"><a [routerLink]="['/groups']" materialize="tooltip" class="tooltipped" data-tooltip="Groups"><i class="material-icons">group</i></a></li>
      <li class=" waves-effect waves-light"><a [routerLink]="['/friends']" materialize="tooltip" class="tooltipped" data-tooltip="Friends"><i class="material-icons">group_add</i></a></li>
      <li class=" waves-effect waves-light"><a [routerLink]="['/orders']" materialize="tooltip" class="tooltipped" data-tooltip="Orders"><i class="material-icons">shopping_cart</i></a></li>
      <li class=" waves-effect waves-light"><a (click)="logout()" materialize="tooltip" class="tooltipped" data-tooltip="Logout"><i class="material-icons">input</i></a></li>
      <li><a class="dropdown-button" data-activates="dropdown1" data-constrainwidth="false" materialize="dropdown" [materializeParams]="[{belowOrigin: true}]"><span class="" data-badge-caption=""><i class="material-icons">notifications</i></span></a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li>
        <div class="userView">
          <div class="background">
            <img src="assets/images/material.png" class="responsive-img">
          </div>
          <a href="#!user"><img class="circle" src="assets/images/person2.png"></a>
          <a href="#!name"><span class="white-text name">{{user.firstName}} {{user.lastName}}</span></a>
          <a href="#!email"><span class="white-text email">{{user.email}}</span></a>
        </div>
      </li>
      <li><a [routerLink]="['/home']" class="waves-effect"><i class="material-icons red-text">home</i>Home</a></li>
      <li><a [routerLink]="['/home']" class="waves-effect"><i class="material-icons red-text">account_circle</i>Account</a></li>
      <li><a [routerLink]="['/groups']" class="waves-effect"><i class="material-icons red-text">group</i>Groups</a></li>
      <li><a [routerLink]="['/friends']" class="waves-effect"><i class="material-icons red-text">group_add</i>Friends</a></li>
      <li><a [routerLink]="['/orders']" class="waves-effect"><i class="material-icons red-text">shopping_cart</i>Orders</a></li>
      <li><div class="divider"></div></li>
      <li><a [routerLink]="['/login']" class="waves-effect"><i class="material-icons red-text">input</i>Logout</a></li>
    </ul>
    <a href="#" materialize="sideNav" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div id="checkoutModal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="checkoutModalActions">
  <div class="modal-content center">
    <h4>Order Checkout</h4>
    <table>
      <thead>
      <tr>
        <th>Item</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of checkoutData">
        <td>{{item.name}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.price}} EGP</td>
        <td>{{item.total}} EGP</td>
      </tr>
      </tbody>
    </table>
    <h5>GRAND TOTAL {{getChekOutGrandTotal()}} EGP</h5>
  </div>
  <a class="btn-floating waves-effect btn-rt red" (click)="closeCheckOutModal()"><i class="material-icons">close</i></a>
</div>
