<!--<app-header></app-header>-->
<app-navbar></app-navbar>
<div class="row" style="height: 500px">
  <h5 class="center-align">Create New Order</h5>
    <div class="col s12 m4 card fit-height">
      <div class="input-field col s12">
        <input name="note" id="note" type="text" [(ngModel)]="order.name" required>
        <label for="note">Order Note</label>
      </div>
      <div class="input-field col s12">
        <h5>Order For</h5>
        <select materialize="material_select" [materializeSelectOptions]="mealsOptions" [ngModel]="order['for']" (ngModelChange)="changeMeal($event)">
          <option value="" disabled selected>Choose your meal</option>
          <option *ngFor="let option of mealsOptions" [value]="option.value">{{option.name}}</option>
        </select>
      </div>
      <div class="input-field col s12">
        <h5>Select Restaurant</h5>
        <select materialize="material_select" class="icons" [materializeSelectOptions]="providers" [ngModel]="order.provider" (ngModelChange)="changeProvider($event)">
          <option value="" disabled selected>Choose your restaurant</option>
          <option *ngFor="let option of providers" [value]="option._id" data-icon="option.logo" class="circle">{{option.name}}</option>
        </select>
      </div>
      <div class="col s12">
        <a class="btn red" (click)="publishOrder()">Publish</a>
      </div>
    </div>
    <div class="col s12 m4 card fit-height">
      <h5>Invite Groups</h5>
      <ul class="collection">
        <li *ngFor="let group of myGroups.owned" class="collection-item avatar">
          <i class="material-icons circle">group</i>
          <span class="title">{{group.name}}</span>
          <p>Owned Group</p>
          <a (click)="inviteGroup(group,'owned')" class="secondary-content waves-effect btn-rt green-text tooltipped" materialize="tooltip" data-tooltip="Invite Group"><i class="material-icons">add</i></a>
        </li>
        <li *ngFor="let group of myGroups.joined" class="collection-item avatar">
          <i class="material-icons circle">group</i>
          <span class="title">{{group.name}}</span>
          <p>Joined Group</p>
          <a (click)="inviteGroup(group,'joined')" class="secondary-content waves-effect btn-rt green-text tooltipped" materialize="tooltip" data-tooltip="Invite Group"><i class="material-icons">add</i></a>
        </li>
      </ul>
      <div class="input-field s12">
        <input name="search" id="search" type="text" [(ngModel)]="email">
        <label for="search">Search Friends</label>
      </div>
      <ul class="collection">
        <li *ngFor="let friend of myFriends | search:email" class="collection-item avatar">
          <i class="material-icons circle">person</i>
          <span class="title">{{friend.firstName}}</span>
          <p>{{friend.email}}</p>
          <a (click)="inviteFriend(friend)" class="secondary-content waves-effect btn-rt green-text tooltipped" materialize="tooltip" data-tooltip="Invite Friend>"><i class="material-icons">add</i></a>
        </li>
      </ul>
    </div>
    <div class="col s12 m4 card fit-height">
      <h5>Invited Groups</h5>
      <ul class="collection">
        <li *ngFor="let group of invitedGroups.owned" class="collection-item avatar">
          <i class="material-icons circle">group</i>
          <span class="title">{{group.name}}</span>
          <p>Owned Group</p>
          <a (click)="removeGroup(group,'owned')" class="secondary-content waves-effect btn-rt red-text tooltipped" materialize="tooltip" data-tooltip="Remove Group"><i class="material-icons">close</i></a>
        </li>
        <li *ngFor="let group of invitedGroups.joined" class="collection-item avatar">
          <i class="material-icons circle">group</i>
          <span class="title">{{group.name}}</span>
          <p>Joined Group</p>
          <a (click)="removeGroup(group,'joined')" class="secondary-content waves-effect btn-rt red-text tooltipped" materialize="tooltip" data-tooltip="Remove Group"><i class="material-icons">close</i></a>
        </li>
        <li *ngFor="let friend of invitedFriends" class="collection-item avatar">
          <i class="material-icons circle">person</i>
          <span class="title">{{friend.firstName}}</span>
          <p>{{friend.email}}</p>
          <a (click)="removeFriend(friend)" class="secondary-content waves-effect btn-rt red-text tooltipped" materialize="tooltip" data-tooltip="Remove Friend"><i class="material-icons">close</i></a>
        </li>
      </ul>
    </div>
</div>
<app-modal #msgModal [data]='response' ></app-modal>
<app-loading *ngIf="loading"></app-loading>
