<!-- Login form -->
<div class="row">
  <form action="#" method="post" materialize #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <h4 class="center red-text">Login</h4>
    <div class="input-field col s12 m6 l4 offset-m3 offset-l4">
      <input name="email" id="email" type="email" class="validate" [(ngModel)]="user.email" required>
      <label for="email">Email</label>
    </div>
    <div class="input-field col s12 m6 l4 offset-m3 offset-l4">
      <input name="password" id="password" type="password" class="validate" [(ngModel)]="user.password" required>
      <label for="password">Password</label>
    </div>
    <div class="input-field col s12 m6 l4 offset-m3 offset-l4">
      <input name="remember" type="checkbox" class="filled-in" id="filled-in-box" />
      <label for="filled-in-box">Remember me</label>
    </div>
    <div class="input-field col s12 m6 l4 offset-m3 offset-l4 center">
      <input name="submit" id="submit" type="submit" value="login" class="btn blue" [disabled]="!loginForm.form.valid">
    </div>
    <div class="input-field col s12 m6 l4 offset-m3 offset-l4 center">
      <p class="red-text center-align">{{msg}}</p>
      <p>Don't have Account? <a [routerLink]="['/signup']" id="signup">Signup</a></p>
    </div>
  </form>
</div>
<app-loading *ngIf="loading"></app-loading>
