<!-- SignUp form -->
<div class="row">
  <form action="#" method="post">
    <h4 class="center red-text">Register</h4>
    <div class="input-field col s12 m4 offset-m4">
      <input name="fname" id="fname" type="text" class="validate" required>
      <label for="fname">First Name</label>
    </div>
    <div class="input-field col s12 m4 offset-m4">
      <input name="lname" id="lname" type="text" class="validate" required>
      <label for="lname">Last Name</label>
    </div>
    <div class="input-field col s12  m4 offset-m4">
      <input name="email" id="email" type="email" class="validate" required>
      <label for="email">Email</label>
    </div>
    <div class="input-field col s12 m4 offset-m4">
      <input name="password" id="password" type="password" class="validate" required>
      <label for="password">Password</label>
    </div>
    <div class="input-field col s12 m4 offset-m4">
      <input name="rpassword" id="rpassword" type="password" class="validate" required>
      <label for="rpassword">Re-password</label>
    </div>
    <div class="col s12 m4 offset-m4">
      <input name="gender" type="radio" id="genderm" value="m" class="red" />
      <label for="genderm">Male</label>
      <input name="gender" type="radio" id="genderf" value="f" />
      <label for="genderf">Female</label>
    </div>
    <div class="input-field col s12 m6 offset-m3 center">
      <input name="submit" id="submit" type="submit" value="register" class="btn blue">
    </div>
    <div class="input-field col s12 m6 offset-m3">
      <p class="center-align">Already have Account? <a href="#">Login</a></p>
    </div>
  </form>
</div>
