<app-navbar></app-navbar>
<div class="col s12">
  <div class="row no-margin">
    <h4 class="center-align">Manage Groups <a class="btn-floating waves-effect red modal-trigger" (click)="addGroup()"><i class="material-icons">add</i></a></h4>
  </div>
  <div class="row no-margin" style="height: 470px !important;">
    <div class="col s12 m6 l3">
      <ul class="collapsible" materialize="collapsible" [materializeParams]="['open',0]" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">group</i>Owned Groups</div>
          <div class="collapsible-body no-padding">
            <ul class="collection group-list" *ngIf="groups.owned.length > 0">
              <a *ngFor="let group of groups.owned" (click)="viewGroup(['owned',groups.owned.indexOf(group)], true)" class="collection-item waves-effect">{{group.name}}
                <a class="secondary-content tooltipped" materialize="tooltip" data-tooltip="Remove Group" (click)="removeGroup(group._id)" >
                  <i class="material-icons red-text">delete_forever</i>
                </a>
              </a>
            </ul>
            <div class="valign-wrapper group-list" *ngIf="groups.owned.length == 0">
              <div class="col s12 valign center-align grey-text">
                <i class="material-icons" style="font-size: 100px">group</i>
                <h5>You Don't Have Any Groups yet!</h5>
                <a class="btn red waves-effect" (click)="addGroup()">Create Group Now!</a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">group_add</i>Joined Groups</div>
          <div class="collapsible-body no-padding">
            <ul class="collection group-list" *ngIf="groups.joined.length > 0">
              <a *ngFor="let group of groups.joined" (click)="viewGroup(['joined',groups.joined.indexOf(group)], false)" class="collection-item waves-effect">{{group.name}}
                <a class="secondary-content tooltipped" materialize="tooltip" data-tooltip="Leave Group" (click)="leaveGroup(group._id)" *ngIf="group.owner!=appService.user._id">
                  <i class="material-icons red-text">exit_to_app</i>
                </a>
                <a class="secondary-content tooltipped" materialize="tooltip" data-tooltip="Remove Group" (click)="removeGroup(group._id)" *ngIf="group.owner==appService.user._id">
                  <i class="material-icons red-text">delete_forever</i>
                </a>
              </a>
            </ul>
            <div class="valign-wrapper group-list" *ngIf="groups.joined.length == 0">
              <div class="col s12 valign center-align grey-text">
                <i class="material-icons" style="font-size: 100px">sentiment_dissatisfied</i>
                <h5>Nobody Added You to Any Groups yet!</h5>
                <a class="btn red waves-effect" (click)="addGroup()">Create Yours Now!</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col s12 m6 l9 fit-height">
      <div class="card fit-height" *ngIf="(currentGroup | json) != '{}'">
        <div class="col s6">
          <h4>{{currentGroup.name}}</h4>
        </div>
        <div class="input-field col s16 m6" *ngIf="admin">
          <input name="friend" id="friend" type="email" class="validate search" [(ngModel)]="memberEmail" required>
          <label for="friend">Friend Email</label>
          <button class="btn-floating waves-effect waves-light btn-inline red modal-trigger tooltipped" materialize="tooltip" data-tooltip="Add Friend to this Group" (click)="addMember()" ><i class="material-icons">add</i></button>
        </div>
        <div class="col s12" *ngIf="currentGroup.members.length > 0">
          <div class="row">
            <div class="col s12 m12 l4" *ngFor="let member of currentGroup.members">
              <div class="slim horizontal card">
                <div class="card-image">
                  <img src="assets/images/person0.png">
                </div>
                <div class="card-stacked">
                  <div class="card-content">
                    <h6>{{member.firstName}} {{member.lastName}}</h6>
                    <p>{{member.email}}</p>
                  </div>
                </div>
                <a *ngIf="admin" class="waves-effect btn-rt red-text tooltipped" materialize="tooltip" data-tooltip="Remove Friend from this Group" (click)="removeMember(member._id)"><i class="material-icons">close</i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 valign-wrapper" *ngIf="currentGroup.members.length == 0">
          <div class="col s12 valign center-align grey-text">
            <i class="material-icons" style="font-size: 150px">group</i>
            <h5>This Group is Empty</h5>
          </div>
        </div>
      </div>
      <div class="card fit-height valign-wrapper" *ngIf="(currentGroup | json) == '{}'">
        <div class="col s12 valign center-align grey-text">
          <i class="material-icons" style="font-size: 150px">group</i>
          <h5>Choose a Group to view its Members</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="addGroupModal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="groupModalActions">
  <div class="modal-content center">
    <h4>Add New Group</h4>
    <div class="row">
      <div class="col s4">
        <img src="{{newGroup.icon}}" alt="" class="circle responsive-img">
      </div>
      <div class="input-field col s8">
        <input name="group" id="group1" type="text" [(ngModel)]="newGroup.name" required>
        <label for="group1">Group Name</label>
      </div>
      <div class="col s8">
        <app-uploader [tag]="'icon'" [accept]="'image/x-png,image/gif,image/jpeg'" (upload)="uploaded($event)"></app-uploader>
      </div>
    </div>
    <div class="modal-footer">
      <span class="red-text left" style="font-size:20px;">{{newGroup.error}}</span>
      <a class="btn waves-effect" (click)="saveGroup()">Save</a>
      <a class="btn waves-effect red" (click)="closeNewGroupModal()">Cancel</a>
    </div>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
<app-modal #msgModal [data]='response' ></app-modal>
