.main{
    margin: auto;
    width: 80%;
    padding: 10px;
}

.pag{
  text-align: center;
}

.ban{
      margin: center;
}

#ri{
  float: right;
  margin-right: 200px;
  margin-top: 50px;
  

}

#le{
   float: left;
   margin-left: 150px;
  margin-top: 50px;

}
