<app-navbar></app-navbar>

<div>
   <h3 id="le"> Order Details </h3>
   <a id="ri" class="waves-effect btn-large red accent-1" >invited friends</a>
   <a id="ri" class="waves-effect btn-large red accent-1" >Joined friends</a>
</div>

<div class="main" >
      <table>
        <thead>
          <tr>
              <th>Person</th>
              <th>Item</th>
              <th>Amount</th>
              <th>Price</th>
              <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>TEST</td>
            <td>TEST</td>
            <td>TEST</td>
            <td>TEST</td>
            <td>TEST</td>
          </tr>
        </tbody>
      </table>
</div>