<app-navbar></app-navbar>
<div class="row" style="height: 450px">
  <div class="col s12 center-align">
    <h4>{{order.name}} <a class="btn-floating waves-effect red" (click)="checkout()"><i class="material-icons">check</i></a></h4>
  </div>
  <div class="col s12">
    <div class="row no-padding no-margin valign-wrapper">
      <div class="input-field col s2">
        <select materialize="material_select" [materializeSelectOptions]="availableItems" [ngModel]="newItem.item" (ngModelChange)="changeItem($event)">
          <option value="" disabled selected>Choose your meal</option>
          <option *ngFor="let item of availableItems" [value]="item._id" data-icon="ite.image" class="circle left">
            {{item.name}} - {{item.price}} EGP
          </option>
        </select>
      </div>
      <div class="input-field col s1">
        <input name="amount" id="amount" type="number" min="1" [(ngModel)]="newItem.amount" (ngModelChange)="calcItemPrice()">
        <label for="amount">Amount</label>
      </div>
      <div class="input-field col s3">
        <input name="comment" id="comment" type="text" [(ngModel)]="newItem.comment">
        <label for="comment">Comment</label>
      </div>
      <div class="col s2 center-align">
        <h4>Price {{itemPrice}}</h4>
      </div>
      <div class="col s2 center-align">
        <h4>Total {{total}}</h4>
      </div>
      <div class="col s2 valign">
        <a class="btn-floating waves-effect waves-light red center" (click)="addItem()"><i class="material-icons">add</i></a>
      </div>
    </div>
  </div>
  <div class="col s12 fit-height">
    <div class="card fit-height">
      <table>
        <thead>
        <tr>
          <th>Item</th>
          <th>By</th>
          <th>Amount</th>
          <th>Price</th>
          <th>Total</th>
          <th>Notes</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of order.items">
          <td>{{item.name}}</td>
          <td>{{item.ownerName}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.price}} EGP</td>
          <td>{{item.price*item.amount}}</td>
          <td>{{item.comment}}</td>
          <td>
            <a *ngIf="item.orderBy == user._id" class="waves-effect red-text" (click)="removeItem(item._id)"><i class="material-icons">delete</i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="checkoutModal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="orderModalActions">
  <div class="modal-content center">
    <h4>{{order.name}} Checkout</h4>
    <ul class="collapsible" materialize="collapsible" [materializeParams]="['open',0]" data-collapsible="accordion">
      <li *ngFor="let customer of customers">
        <div class="collapsible-header"><i class="material-icons">person</i>{{getCustomerName(customer)}} - TOTAL {{getCustomerTotal(customer)}} EGP</div>
        <div class="collapsible-body no-padding">
          <table>
            <thead>
            <tr>
              <th>Item</th>
              <th>Amount</th>
              <th>Price</th>
              <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of receipt[customer]">
              <td>{{item.name}}</td>
              <td>{{item.amount}}</td>
              <td>{{item.price}} EGP</td>
              <td>{{item.total}} EGP</td>
            </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
    <h5>GRAND TOTAL {{getChekOutGrandTotal()}} EGP</h5>
  </div>
  <a class="btn-floating waves-effect btn-rt red" (click)="closeCheckOutModal()"><i class="material-icons">close</i></a>
</div>
<app-loading *ngIf="loading"></app-loading>
<app-modal #msgModal [data]='response' ></app-modal>
