<app-navbar></app-navbar>

<h3 id="center" >Order Details </h3>

<div class="main" >
      <table>
        <thead>
          <tr>
              <th>Person</th>
              <th>Item</th>
              <th>Amout</th>
              <th>Price</th>
              <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ahmed</td>
            <td>Rice</td>
            <td>4</td>
            <td>6</td>
            <td>bsmty</td>
          </tr>
        </tbody>
      </table>
</div>

  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn" href="modal1">Modal</a>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
