<app-navbar></app-navbar>
<div class="row">
  <div class="col s12 m2">
    <div class="card profile-card">
      <div class="card-image">
        <img src="assets/images/person0.png">
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <span class="card-title">Ehab Gamal</span>
        <p>ehab.g.sh@gmail.com</p>
      </div>
      <div class="collection">
        <a [routerLink]="['/addorder']" class="collection-item">New Order<a class="secondary-content"><i class="material-icons">add_shopping_cart</i></a></a>
        <a [routerLink]="['/friends']" class="collection-item active">Friends<a href="#!" class="secondary-content"><i class="material-icons">group_add</i></a></a>
        <a [routerLink]="['/groups']" class="collection-item">Groups<a href="#!" class="secondary-content"><i class="material-icons">group</i></a></a>
        <a href="#!" class="collection-item">About<a href="#!" class="secondary-content"><i class="material-icons">info</i></a></a>
        <a href="#!" class="collection-item">About<a href="#!" class="secondary-content"><i class="material-icons">info</i></a></a>
      </div>
    </div>
  </div>
  <div class="col s12 m5">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Latest Orders</span>
        <div class="collection">
          <a href="#!" class="collection-item dismissable">Alvin</a>
          <a href="#!" class="collection-item dismissable">Alvin</a>
          <a href="#!" class="collection-item dismissable">Alvin</a>
          <a href="#!" class="collection-item dismissable">Alvin</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m5">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Friends Activity</span>
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="assets/images/person1.png" alt="" class="circle">
            <span class="title">Title</span>
            <p>First Line</p>
            <a (click)="modal.openModal()" class="secondary-content"><i class="material-icons">announcement</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Title</span>
            <p>First Line</p>
            <a class="secondary-content"><i class="material-icons">announcement</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">Title</span>
            <p>First Line</p>
            <a href="#!" class="secondary-content"><i class="material-icons">announcement</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">Title</span>
            <p>First Line</p>
            <a href="#!" class="secondary-content"><i class="material-icons">announcement</i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-modal #modal [data]='modalMsg' ></app-modal>
