<app-navbar></app-navbar>
<div class="row">
  <div class="col s12 m2">
    <div class="card profile-card">
      <div class="card-image">
        <img src="assets/images/person0.png">
        <a class="btn-floating halfway-fab waves-effect waves-light red" (click)="editProfile()"><i class="material-icons">edit</i></a>
      </div>
      <div class="card-content">
        <span class="card-title">Ehab Gamal</span>
        <p>ehab.g.sh@gmail.com</p>
      </div>
      <div class="collection">
        <a [routerLink]="['/addorder']" class="collection-item">New Order<a class="secondary-content"><i class="material-icons">add_shopping_cart</i></a></a>
        <a [routerLink]="['/friends']" class="collection-item active">Friends<a href="#!" class="secondary-content"><i class="material-icons">group_add</i></a></a>
        <a [routerLink]="['/groups']" class="collection-item">Groups<a href="#!" class="secondary-content"><i class="material-icons">group</i></a></a>
        <a href="#!" class="collection-item">About<a href="#!" class="secondary-content"><i class="material-icons">info</i></a></a>
        <a href="#!" class="collection-item">About<a href="#!" class="secondary-content"><i class="material-icons">info</i></a></a>
      </div>
    </div>
  </div>
  <div class="col s12 m5">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Latest Orders</span>
         <ul class="collection">
          <li class="collection-item avatar" *ngFor="let orders of latestorders">
            <p>{{orders.for}} </p>
            On
            <span class="title">{{orders.createdAt}} </span>
          </li>
          <!--<a class="waves-effect waves-teal btn-flat pink lighten-4"  (click)="latestOrders($event)" type="submit">latest orders </a>-->
          <!--<li class="collection-item dismissable" > {{order.createdAt}} </li>-->
          <!--<a href="#!" class="collection-item dismissable">Alvin</a>
          <a href="#!" class="collection-item dismissable">Alvin</a>
          <a href="#!" class="collection-item dismissable">Alvin</a>
          <a href="#!" class="collection-item dismissable">Alvin</a>-->
        </ul>
      </div>
    </div>
  </div>
  <div class="col s12 m5">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Friends Activity</span>
        <ul class="collection">
          <li class="collection-item avatar" *ngFor="let fActivity of friendsActivities">
            <img src="{{fActivity.image}}" alt="" class="circle">
            <span class="title">{{fActivity.firstName}} {{fActivity.lastName}}</span>
            <!--<div style="display:none;" *ngFor="let activity of activities" ></div>
            <p>{{activity.message}}</p>-->
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="editUserModal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="profileModalActions">
  <div class="modal-content center">
    <h4>Edit Your Info</h4>
    <div class="row">
      <div class="col s4">
        <img src="{{newProfile.image}}" alt="" class="circle responsive-img">
      </div>
      <div class="input-field col s8">
        <input name="fname" id="fname" type="text" [(ngModel)]="newProfile.firstName" required>
        <label for="fname">First Name</label>
      </div>
      <div class="input-field col s8">
        <input name="lname" id="lname" type="text" [(ngModel)]="newProfile.lastName" required>
        <label for="lname">Last Name</label>
      </div>
      <div class="input-field col s8">
        <input name="email" id="email" type="email" class="validate" [(ngModel)]="newProfile.email" required>
        <label for="email">Email</label>
      </div>
      <div class="col s8">
        <app-uploader [tag]="'avatar'" [accept]="'image/x-png,image/gif,image/jpeg'" (upload)="uploaded($event)"></app-uploader>
      </div>
    </div>
    <div class="modal-footer">
      <span class="red-text left" style="font-size:20px;">{{newProfile.error}}</span>
      <a class="btn waves-effect" (click)="saveProfile()">Save</a>
      <a class="btn waves-effect red" (click)="closeProfileModal()">Cancel</a>
    </div>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
<app-modal #modal [data]='modalMsg' ></app-modal>