<app-navbar></app-navbar>
<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Latest Orders</span>
        <div class="collection">
          <a href="#!" class="collection-item dismissable">Alvin</a>
          <a href="#!" class="collection-item dismissable">Alvin</a>
          <a href="#!" class="collection-item dismissable">Alvin</a>
          <a href="#!" class="collection-item dismissable">Alvin</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Friends Activity</span>
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="assets/images/person1.png" alt="" class="circle">
            <span class="title">Title</span>
            <p>First Line</p>
            <a (click)="modal.openModal()" class="secondary-content"><i class="material-icons">announcement</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Title</span>
            <p>First Line</p>
            <a class="secondary-content"><i class="material-icons">announcement</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">Title</span>
            <p>First Line</p>
            <a href="#!" class="secondary-content"><i class="material-icons">announcement</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">Title</span>
            <p>First Line</p>
            <a href="#!" class="secondary-content"><i class="material-icons">announcement</i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-modal #modal [data]='modalMsg' ></app-modal>
